src/main/resources/Report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!--Оганичение длины строки-->
    <xs:simpleType name="validString">
        <xs:restriction base="xs:string">
            <xs:maxLength value="70"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <!--Ограничение duration-->
    <xs:simpleType name="hours">
        <xs:restriction base="xs:integer">
            <xs:maxInclusive value="100"/>
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <!--Оценка от 1 до 5-->
    <xs:simpleType name="validMark">
        <xs:restriction base="xs:integer">
            <xs:maxInclusive value="5"/>
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <!--Валидация email-->
    <xs:simpleType name="emailAddress">
        <xs:restriction base="validString">
            <xs:pattern value="[^@]+@[^.]+\..+"/>
        </xs:restriction>
    </xs:simpleType>

    <!--Допустимые значения TaskType-->
    <xs:simpleType name="typeTask">
        <xs:restriction base="validString">
            <xs:enumeration value="theory"/>
            <xs:enumeration value="practice"/>
        </xs:restriction>
    </xs:simpleType>

    <!--TASK TYPE-->
    <xs:simpleType name="taskType">
        <xs:restriction base="validString">
            <xs:enumeration value="theory"/>
            <xs:enumeration value="practice"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="theoryTask">
        <xs:restriction base="validString">
            <xs:enumeration value="Изучение не началось"/>
            <xs:enumeration value="В процессе изучения"/>
            <xs:enumeration value="Изучение завершено"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="practicalTask">
        <xs:restriction base="validString">
            <xs:enumeration value="Выполнение не началось"/>
            <xs:enumeration value="В процессе выполнения"/>
            <xs:enumeration value="Находится на проверке"/>
            <xs:enumeration value="Задание принято"/>
        </xs:restriction>
    </xs:simpleType>



    <!--Описание базовой стрктуры-->
    <xs:element name="UZ">
        <xs:complexType>
            <xs:sequence>

                <!--Список студентов-->
                <xs:element name="students">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="student" maxOccurs="unbounded">
                                <xs:complexType>
                                  <xs:sequence>
                                      <xs:element name="id" type="xs:positiveInteger"/>
                                      <xs:element name="name" type="validString"/>
                                      <xs:element name="city" type="validString"/>
                                      <xs:element name="email" type="emailAddress"/>
                                      <xs:element name="isContracted" type="xs:boolean"/>
                                      <xs:element name="programID" type="xs:positiveInteger"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>

                    <xs:unique name="uniqueStudentName">
                        <xs:selector xpath="student"/>
                        <xs:field xpath="name"/>
                    </xs:unique>
                    <xs:unique name="uniqueStudentID">
                        <xs:selector xpath="student"/>
                        <xs:field xpath="id"/>
                    </xs:unique>

                </xs:element>

                <!--Список программ-->
                <xs:element name="programs">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="program" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id" type="xs:positiveInteger"/>
                                        <xs:element name="name" type="validString"/>
                                        <xs:element name="author" type="validString"/>
                                        <xs:element name="createDate" type="xs:date"/>
                                        <xs:element name="courses">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="courseID"
                                                                type="xs:positiveInteger"
                                                                maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>

                                <xs:unique name="uniqueProgram_CourseID">
                                    <xs:selector xpath="courses/courseID"/>
                                    <xs:field xpath="."/>
                                </xs:unique>

                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>

                    <xs:unique name="uniqueProgramID">
                        <xs:selector xpath="program"/>
                        <xs:field xpath="id"/>
                    </xs:unique>

                </xs:element>

                <!--Список курсов-->
                <xs:element name="courses">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="course" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id" type="xs:positiveInteger"/>
                                        <xs:element name="name" type="validString"/>
                                        <xs:element name="author" type="validString"/>
                                        <xs:element name="createDate" type="xs:date"/>
                                        <xs:element name="tasks">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="taskID"
                                                                type="xs:positiveInteger"
                                                                maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>

                                <xs:unique name="uniqueCourse_TaskID">
                                    <xs:selector xpath="tasks/taskID"/>
                                    <xs:field xpath="."/>
                                </xs:unique>

                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>

                    <xs:unique name="uniqueCourseName">
                        <xs:selector xpath="course"/>
                        <xs:field xpath="name"/>
                    </xs:unique>
                    <xs:unique name="uniqueCourseID">
                        <xs:selector xpath="course"/>
                        <xs:field xpath="id"/>
                    </xs:unique>

                </xs:element>

                <!--Список заданий-->
                <xs:element name="tasks">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="task" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id" type="xs:positiveInteger"/>
                                        <xs:element name="name" type="validString"/>
                                        <xs:element name="duration" type="hours"/>
                                    </xs:sequence>
                                    <xs:attribute name="type" type="taskType" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>

                    <xs:unique name="uniqueTaskID">
                        <xs:selector xpath="task"/>
                        <xs:field xpath="id"/>
                    </xs:unique>

                </xs:element>

                <!--Репорт-->
                <xs:element name="reports">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="report" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id" type="xs:positiveInteger"/>
                                        <xs:element name="studentID" type="xs:positiveInteger"/>
                                        <xs:element name="task" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="taskID" type="xs:positiveInteger"/>
                                                    <xs:choice>
                                                        <xs:element name="statusPracticalTask" type="practicalTask"/>
                                                        <xs:element name="statusTheoryTask" type="theoryTask"/>
                                                    </xs:choice>
                                                    <xs:element name="mark" type="validMark" minOccurs="0"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>

                                    </xs:sequence>
                                </xs:complexType>

                                <xs:unique name="uniqueStudents_TaskID">
                                    <xs:selector xpath="task/taskID"/>
                                    <xs:field xpath="."/>
                                </xs:unique>

                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>

                    <xs:unique name="uniqueReportID">
                        <xs:selector xpath="report"/>
                        <xs:field xpath="id"/>
                    </xs:unique>

                </xs:element>

            </xs:sequence>
        </xs:complexType>

        <!--Primary Keys-->
        <xs:key name="taskPK">
            <xs:selector xpath="tasks/task"/>
            <xs:field xpath="id"/>
        </xs:key>
        <xs:key name="coursePK">
            <xs:selector xpath="courses/course"/>
            <xs:field xpath="id"/>
        </xs:key>
        <xs:key name="programPK">
            <xs:selector xpath="programs/program"/>
            <xs:field xpath="id"/>
        </xs:key>
        <xs:key name="studentPK">
            <xs:selector xpath="students/student"/>
            <xs:field xpath="id"/>
        </xs:key>


        <!--Программы к студентам-->
        <xs:keyref name="studentFK" refer="programPK">
            <xs:selector xpath="students/student"/>
            <xs:field xpath="programID"/>
        </xs:keyref>

        <!--Курсы к программам-->
        <xs:keyref name="programFK" refer="coursePK">
            <xs:selector xpath="programs/program/courses/courseID"/>
            <xs:field xpath="."/>
        </xs:keyref>

        <!--Таски к курсам-->
        <xs:keyref name="courseFK" refer="taskPK">
            <xs:selector xpath="courses/course/tasks/taskID"/>
            <xs:field xpath="."/>
        </xs:keyref>

        <!--Студенты к репортам-->
        <xs:keyref name="report_studentFK" refer="studentPK">
            <xs:selector xpath="reports/report"/>
            <xs:field xpath="studentID"/>
        </xs:keyref>

        <!--Таски к репортам-->
        <xs:keyref name="report_taskFK" refer="taskPK">
            <xs:selector xpath="reports/report/task/taskID"/>
            <xs:field xpath="."/>
        </xs:keyref>

    </xs:element>

</xs:schema>